body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: #f7d705;
}

.corl {
    background-color: #f7d705;
}
.img-fluid{
    height: 500px;
    width: 400px;
    margin: 30px;
}
